.bdy{
    margin-top:0;
    background-color:#d6e0f0;
}

.container{
    margin-top:7%;
}

.welcome{
    text-align:center;
}

.imgSection{
    width:45%;
    display:inline-block;
}

button{
    margin-top:2%;
}

.welcomeButton{
    display:inline-block;
}

.loginForm{
    width:50%;
}

h1{
    color:#393b44;
    margin:5% 10% ;
    font-style: italic;
    font-weight:bold;
}

.addAssign{
    margin:5%;
    text-align:center;
}

img{
    width:50%;
    height:70%;
    margin :2.5% 0 0;
}