<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>

    <!--    BootStrap Links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles.css">


</head>
<body>

    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h1>All Assignments</h1>
                <ul>
                    <span th:each="assignment : ${allAssignment}">
                        <li><span th:text="${assignment}"></span><br></li>
                    </span>
                </ul>
                <form action="addAssignment" method="get">
                    <center><button type="submit" class="btn btn-primary addAssign">Add Assignment</button></center>
                </form>
                <br>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <h1>Student list</h1>
                <ul>
                    <li th:each="entry: ${studentsName}">
                        <a th:href="'student/'+${entry.key}+'/assignments'"><span th:text="${entry.value}"></span></a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</body>
</html>